[user]
  name = Stefan Stölzle
  email = stoe@github.com

[init]
  defaultBranch = main

[protocol]
  version = 2

[remote "origin"]
  prune = true
  pruneTags = true

[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto

[color "branch"]
  current = cyan reverse
  local = yellow bold
  remote = green bold

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = green bold
  changed = yellow bold
  untracked = cyan bold

[core]
  autocrlf = input
  # Use custom `.gitignore` and `.gitattributes`
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  editor = code --wait
  pager = ""

[apply]
  whitespace = nowarn

[help]
  autocorrect = 50

[fetch]
  prune = true
  pruneTags = true

[pull]
  rebase = true

[push]
  # See `git help config` (search for push.default)
  # for more information on different options of the below setting.
  #
  # Setting to git 2.0 default to surpress warning message
  default = simple
  autoSetupRemote = true
  # gpgsign = if-asked

[rebase]
  autoStash = true

[pretty]
  changelog = * %h %s
  # info = %C(auto)%h %G? %d %s
  info = %C(auto)%h %d %s

[alias]
  # View abbreviated SHA, description, and history graph
  l = log --oneline --decorate --graph --abbrev-commit --all --date=relative -n 10
  lf = log --pretty=info --graph --first-parent HEAD -n 10
  lg = log --pretty=info --graph --all -n 10
  # View the current working tree status using the short format w/ branch info
  # upgrade your git if -sb breaks for you. it's fun.
  s = status -sb
  # Show verbose output about tags, branches or remotes
  # tags = tag -l
  tags = log --no-walk --tags --pretty=info --decorate=full
  tag = tag -s
  branches = branch -avv
  remotes = remote -v
  # http://haacked.com/archive/2014/07/28/github-flow-aliases/#completing-the-pull-request
  up = pull --rebase --prune
  co = checkout
  cob = switch -c
  ec = config --global -e
  # https://github.com/ahmadawais/Emoji-Log
  # https://gitmoji.dev/
  wip = stash -u -m "WIP"
  rlz = "!f() { git commit -S -m \"🔖 $1\"; git tag \"$1\" -m \"$1\" -s; }; f"
  # https://stackoverflow.com/a/25387310
  hide = update-index --assume-unchanged
  unhide = update-index --no-assume-unchanged

[log]
  showSignature = false

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
